@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  /* 16px -> 1rem = 16px */
  font-family: "Noto Sana JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}
